@import './fonts.css';
@import './menu.css';

:root {
    --black: #000;
    --white: #fff;
    --blue: #2F80ED;
    --titleMenu: 700 1rem/1.25rem Inter;
    --titleMenuHover: 900 .875rem/1.25rem Inter;
    --itemMenu: 400 .875rem/1.25rem Inter;
}

body {
    font: var(--itemMenu);
    background-color: var(--blue);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}