.m {
    margin: auto;
    margin-block-start: 100px;
    max-inline-size: 22.5rem;
}

.c-mn1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mn1 .mn1-item {
    margin: auto;
    inline-size: 19.5rem;
}

.mn1 .mn1-item > a {
    display: block;
    white-space: nowrap;
    padding-block: .75rem;
    text-align: center;
    font: var(--titleMenu);
}

.mn1 .mn1-item a:hover {
    background-color: var(--black);
    color: var(--white);
}

.mn1 .mn1-item:hover .mn2 {
    display: block;
}

/* nivel 2*/

.mn2 {
    display: none;
    margin-block-start: .5rem;
    margin-block-end: 1rem;
    border: .25rem solid var(--black);
}

.mn2 .mn2-item > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .75rem;
    padding-inline: 1.5rem;
}

.mn2 .mn2-item i {
    display: inline-block;
    transition: .3s all;
}

.mn2 .mn2-item:hover i {
    transform: rotate(90deg);
}

.mn2 .mn2-item:hover .mn3 {
    display: block;
}


/* nivel 3 */

.mn3 {
    display: none;
}

.mn3 .mn3-item {

}

.mn3 .mn3-item a {
    display: block;
    padding-block: .75rem;
    padding-inline: 2.625rem;
    white-space: nowrap;
}

@media screen and (min-width: 720px){    

    .m {
        min-inline-size: 33.75rem;
    }

    .mn1 .mn1-item {
        margin: initial;
    }
    
    .mn1 .mn1-item > a {
        padding: .75rem;
    }

    .c-mn1 {
        flex-direction: row;
    }

    .mn2 .mn2-item {
        position: relative;
    }

    .mn2 .mn2-item:hover i {
        transform: none;
    }

    .mn3 {
        position: absolute;
        z-index: 1;
        border: .25rem solid var(--black);
        inset-block-start: 50%;
        inset-inline-start: calc(100% - 0px);
    }

    .mn3 .mn3-item a {
        padding-inline: 1.5rem;
        padding-block: .75rem;
    }

}